@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Circle-icons-tools.svg/1024px-Circle-icons-tools.svg.png" style="height:300px;"/>
    <h1 class="display-4">Bem vinda(o) </h1>
    <p>Controle de Aluguel de <a asp-controller="Ferramentas" asp-action="Index">Ferramentas</a>.</p>
</div>
