@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem vinda(o) </h1>
    <p>Controle de Aluguel de <a asp-controller="Ferramentas" asp-action="Index">Ferramentas</a>.</p>
</div>
